<%= form_for @book, :html=>{:id=>"form"} do |f| %>
  <div>请输入标题：<%= f.text_field :name %></div><br/>
  <div>请输入文本：<%= f.cktext_area :author %></div><br/>
  <%= f.submit "确定" %>
<% end %>
<!--
<% if @book.id.present?
     url = "/books/#{@book.id}"
     method = 'put'
   else
     url = "/books/"
     method = 'post'
end %>
 <%= form_tag url do %>
   <%= hidden_field_tag "_method", method %>
   <%= text_field_tag "book[name]", @book.name %><br/>
   <%= text_field_tag "book[author]", @book.author%><br/>
   <%= submit_tag "确定" %>
 <% end %>
-->
